<!DOCTYPE html>
<html lang="fa">
<head>
    {% load static %} 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>موسیقی</title>
    <link rel="stylesheet" href="{%static 'news_app/home.css'%}">
    
</head>
<body  id="home"     dir="rtl">
    <div class="welcome-container">
        <h1> به سایت خبری موسیقی خوش آمدید</h1>
        <p>به دنیایی از اخبار جذاب و تازه ی موسیقی خوش آمدید. ما از شما برای همراهی با ما در این سفر خبری خوشحالیم.</p>
        <p></p>
        <a href="news" class="btn">بیشتر بخوانید</a>
    </div>
</body>
</html>
