

.news-title {
    font-size:50px;
    font-weight: bold;
    color: #ebcae6;
    margin-bottom: 10px;
    text-align: center;
    
  }



#table1{
    background-color:#232c75 ;
    text-align: center;
    width: 90%;
    margin: 50px;
}

#table2 {
    border-collapse: collapse;
    width: 90%;
    border: 1px solid black;
    margin: 50px;
    direction: rtl;
    
}
tr, td {
    border: 1px solid black;
    padding: 8px;
    text-align: right;
    
}
.news-onvan {
    background-color: #8270db;
    font-size: 30px;
    
  
}
.news-onvan2{
    background-color: #f5f5f5;
    font-size: 20px;
}
body{background-color:#ced7e2 ;
  
   
   
    
}
#table3{
    background-color: #232c75;
    width: 90%;
    margin: 50px;
   
    
}
#footer{
    text-align: center;
}
